# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

.vs/
.idea/

.gradle/

MemoryCaptures/
Recordings/

*.csproj
*.sln
*.user
*.userprefs
*.opendb

*.log
sysinfo.txt
mono_crash.*

*.apk
*.aab
*.unitypackage
*.app

.DS_Store
Thumbs.db

/Assets/Plugins/Editor/JetBrains*
/Assets/StreamingAssets/aa*
/Assets/AddressableAssetsData/*